*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    padding: 60px;
}

header{
    background-color: blue;
    color: white;
    text-align: left;
    /* height: 100px; */
    padding: 1rem;
    margin: 20px;
    box-shadow: 0 0.2rem 0.5rem blue;
    border-radius: 0.5rem;
}

main{
    
    color: white;
    /* padding: 1rem; */
    margin: 20px;
    box-shadow: 0 0.1rem 0.2rem rgb(89, 94, 89);
    border-radius: 0.5rem;
    display: flex;
    gap: 20px;
  
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /*espaço entre as div*/
    /* height: 300px; */
    /* flex-direction: wrap; */
    /* justify-content: center; */
    align-items: center;
    background-color: green;
    flex-wrap: wrap;
    padding: 100px;
}

.item{
    
    width: 100px;
    height: 100px;
    background-color: rgb(74, 145, 74);
    /* text-align: center; */
   
}

.meio{
    display: flex;
}
.sidebar{
    background-color: red;
    color: white;
    text-align: center;
}

footer{
    background-color: rgb(96, 96, 243);
    color: white;
    text-align: left;
    /* height: 100px; */
    padding: 1rem;
    margin: 20px;
    box-shadow: 0 0.1rem 0.2rem blue;
    border-radius: 0.5rem;
}

